<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Restful Webservice Component</display-name>
	<description>Restful Webservice Component</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:config/application-context.xml
		</param-value>
		<description>Spring config file locations</description>
	</context-param>

	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

   <servlet>  
      <servlet-name>RestletServlet</servlet-name>  
      <servlet-class>org.restlet.ext.spring.SpringServerServlet</servlet-class>  
      <init-param>   
            <param-name>org.restlet.application</param-name>  
            <param-value>application</param-value>  
      </init-param>  
	  <init-param>  
            <param-name>org.restlet.component</param-name>  
            <param-value>component</param-value>  
      </init-param>  
   </servlet>  
  
 
   <servlet-mapping>  
      <servlet-name>RestletServlet</servlet-name>  
      <url-pattern>/restlet/*</url-pattern>  
   </servlet-mapping>


	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
